<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pinned - {% block title %}{% endblock %}</title>

    <!-- CSS -->
    {% include "core/collections/css.html" %}

</head>
<body>
    <!-- Include navbar -->
    {% include "core/partials/nav.html" %}
    {% block top_content %}{% endblock %}
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <!-- Get content from child template -->
                {% block content %}
                    <h1>Dummy content</h1>
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    {% load static %}

    <script type="text/javascript" src="{% static 'core/app.js' %}" ></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_xk05N3ropf_O38JXYVvW5yALj09jwuU&libraries=drawing
    &callback=map.initMap" async defer></script>
</body>
</html>