.event{
    &-name{
        border-bottom: 1px solid $input-border-color;
    }

    &-description{
        padding-bottom: 10px;
        border-bottom: 1px solid $input-border-color;
        margin-bottom: 10px;
    }
    &-participants td:first-child{
        border-top: none;
    }

    .btn{
        &-join{
            background-color: green;
        }

        &-leave{
            background-color: red;
        }
    }
}
