.profile-title {
    margin-left: 2%;
    text-transform: none !important;
}

.profile-row {
    height: 300px;
}

.img-fit {
    height: auto;
    width: auto;
}

.info-field {
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 1rem !important;
}

.event-card-row {
    margin-top: 2em;
}

.tags-profile {

    background-image: none !important;
    border: none !important;
}


// TODO: remove commented scss ffrom profile.scss
// .upload-btn{
//  margin-top: 3%;
// }
// .update-info-btn{
//  margin-top: 3%;
//  margin-bottom: 3%;
// }