.profile-title {
    text-align: center;
    text-transform: none !important;
}

.img-fit {
    border: none; 
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.info-field {
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 1rem !important;
}

.event-card-row {
    margin-top: 2em;
}

.tags {
    background-image: none !important;
    border: none !important;
}