$primary: #d6493f;
$secondary: #93cdff;

$primary-links: white;
$secondary-links: white;

$links: lighten($primary, 10);

$positive-background-color: $success;
$positive-text-color: white;
$negative-background-color: $danger;
$negative-text-color: white;
