# ignore database state
db.*
core/migrations/*
__pycache__/

node_modules/

core/static/core/app.css
core/static/core/app.js

package-lock\.json

fonts/

*.pyc

images/vendor/chosen-js/chosen-sprite\.png

images/vendor/chosen-js/chosen-sprite@2x\.png
