amqp==2.2.2
auth0-python==3.1.4
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.6
django-colorful==1.2
djangorestframework==3.7.1
ecdsa==0.13
future==0.16.0
gunicorn==19.7.1
idna==2.6
kombu==4.1.0
oauthlib==2.0.6
pycrypto==2.6.1
PyJWT==1.5.3
python-dotenv==0.7.1
python-jose==1.4.0
python-openid==2.2.5
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1
