{% extends "core/structures/generic.html" %}

{% block title %}Home{% endblock %}

{% block top_content %} 
  {% include "core/partials/event_form.html" %}
{% endblock %}

{% block content %}
<h2>Welcome {{ user.username }}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% include "core/partials/map_filters.html" %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="map"></div>
    </div>
  </div>
</div>


<!-- Include the upcoming events below the map -->
{% include "core/partials/upcoming_events.html" %}

{% endblock %}
