body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Josefin Sans', sans-serif;
}

/* Navbar styling */

.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    width: 130px;
}

.navbar-brand::first-letter{
    color: red;
    font-size: 1.3em;
}

.navbar-brand>i{
    color: red;
}

.navbar{
    z-index: 2;
    box-shadow: black 0pt 8pt 5pt -5pt;
    margin-bottom: 20pt;
}

.navbar .collapse{
    justify-content: flex-end;
}

.navbar-nav .nav-link{
    line-height: 70px;
    padding: 0 10pt;
}

.nav-item{
    text-align: right;
    padding-right: 5px;
}

.nav-item:hover{
    background-color: #ececec;
}

/* Row styling */

.container.content .container .row{
    margin-bottom: 10px;
}

/* Event form styling */

#event-form{
    position: fixed;
    z-index: 2;
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    background-color: white;
}

/* Map filters styling */

#map-filters .input-group{
    width: 100%;
}

#map-filters .col-sm-4{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Misc */

#map{
    height: 500px;
}


.hidden{
    visibility: hidden;
}
